html{
    scroll-behavior: auto !important;
}

body{
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    color: white;


}

.carou{
    padding: 0;
}

h2{
    text-align: center;


}

.icon-con{
    color: azure;
    text-align: center;
}

#Footer{
    background-color: #0097DE;

}

#Footer a{
    color: white;
    text-decoration: none;
}

@media (max-width: 767px) {
    #QuienesSomos {
        display:none;
    }
}